<div class="content-wrap">
    <div class="content-card">
        <div class="sum-back">
            <p class="account-title">Total on accounts:</p>
            <p class="sum">{{totalFunds}} RUB</p>
        </div>
    </div>
    <div class="content-card">
        <div class="all-accounts">
            <div ui-sref="walletDetails({id: wallet.ID})" ng-repeat="wallet in wallets track by $index" class="account cp">
                <p>{{wallet.Name}}</p>
                <p>{{wallet.Funds}} RUB</p>
            </div>
        </div>
    </div>
    <div class="content-card">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Account</th>
                    <th>Sum</th>
                    <th>Category</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="operation in operations track by $index"
                    ng-class="{'danger': !operation.Type, 'success': operation.Type}">
                    <td>{{$index+1}}</td>
                    <td>{{operation.WalletName}}</td>
                    <td>
                        <span ng-if="operation.Type">+</span>
                        <span ng-if="!operation.Type">-</span>
                        {{operation.Sum}} RUB
                    </td>
                    <td>{{operation.CategoryName}}</td>
                    <td>{{operation.Date | date: 'dd-MM-yyyy'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>