@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="App">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>sp</title>

    <link href="~/app/libs/bootstrap/css/bootstrap-paper.css" rel="stylesheet" />
    <link href="~/app/src/common/css/fonts.css" rel="stylesheet" />
    <link href="~/app/src/common/css/controls.css" rel="stylesheet" />
    <link href="~/app/src/common/css/styles.css" rel="stylesheet" />
    <link href="~/app/src/directives/btn-add/btn-add.css" rel="stylesheet" />
    <link href="~/app/src/pages/manage-data/manage-data.css" rel="stylesheet" />
    <link href="~/app/src/pages/profile/profile.css" rel="stylesheet" />
    <link href="~/app/src/blocks/change-pass-modal/modal.css" rel="stylesheet" />
</head>
<body>
<div ui-view></div>

    <!--Libs-->
    <script src="~/app/libs/angular/angular.js"></script>
    <script src="~/app/libs/angular/angular-ui-router.js"></script>
    <script src="~/app/libs/angular/angular-messages.js"></script>
    <script src="~/app/libs/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="~/app/libs/lodash/lodash.js"></script>

    <!--Configs-->
    <script src="~/app/src/app.js"></script>
    <script src="~/app/src/config/routes.js"></script>

    <!--Controllers-->
    <script src="~/app/src/pages/home/home-ctrl.js"></script>
    <script src="~/app/src/pages/main/main-ctrl.js"></script>
    <script src="~/app/src/pages/wallet-details/wallet-details.js"></script>
    <script src="~/app/src/pages/wallet-edit/wallet-edit.js"></script>
    <script src="~/app/src/pages/manage-data/manage-data.js"></script>
    <script src="~/app/src/pages/operation-edit/operation-edit.js"></script>
    <script src="~/app/src/pages/profile/profile.js"></script>
    <script src="~/app/src/pages/user-info/user-info.js"></script>

    <!--Services-->
    <script src="~/app/src/services/user.js"></script>
    <script src="~/app/src/services/wallets.js"></script>
    <script src="~/app/src/services/operations.js"></script>
    <script src="~/app/src/services/categories.js"></script>

    <!--Directives-->
    <script src="~/app/src/directives/btn-add/btn-add.js"></script>

    <!--Blocks-->
    <script src="~/app/src/blocks/confirm-delete-modal/modal-instance.js"></script>
    <script src="~/app/src/blocks/change-pass-modal/modal-instance.js"></script>
</body>
</html>
