<div class="content-wrap">
    <div class="row">
        <div class="col-xs-offset-0 col-xs-12 col-md-offset-2 col-md-8">
            <div class="content-card item-info">
                <p class="title">Categories</p>
                <div ng-repeat="category in categories track by $index" class="row item-row">
                    <div class="col-xs-10">
                        <div class="item-data">
                            <div ng-if="ifods" class="item-prop text-ellipsis"><strong>Name:</strong> {{category.Name}}</div>
                            <div class="item-prop row">
                                <label class="col-xs-2" for="inputEdit-{{$index}}"><strong>Name:</strong></label>
                                <div class="col-xs-10">
                                    <input type="text" class="form-control" id="inputEdit-{{$index}}" ng-model="editingProp">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="item-action item-action-categories txt-right">
                            <i class="glyphicon glyphicon-pencil action-link cp" title="Edit"></i>
                            <i class="glyphicon glyphicon-remove action-link cp" title="Delete"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>